DJANGO_SECRET_KEY=replace-with-a-strong-secret-key
DJANGO_DEBUG=True

DB_NAME=az_sunshine
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@db:5432/az_sunshine

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

ALLOWED_HOSTS=127.0.0.1,localhost,web
